<h1>Hey! Good Morning </h1>
<div [ngSwitch]=day>
    <div *ngSwitchCase=0>
        Today is Sunday you deserve a break!!!
    </div>
    <div *ngSwitchCase=1>
        Today is Monday , Hope you have a productive week
    </div>
    <div *ngSwitchCase=2>
        Today is Tuesday , Smash your goals
    </div>
    <div *ngSwitchCase=3>
        Today is Wednesday You are already half way through
    </div>
    <div *ngSwitchCase=4>
        Today is Thursday , Its like Friday lite
    </div>
    <div *ngSwitchCase=5>
        Today is Friday , Thank God is Friday!!
    </div>
    <div *ngSwitchCase=6>
        Today is Saturday , Lets party
    </div>
    <div *ngSwitchDefault>
        Uh Oh something is wrong
    </div>
</div>